<div class="referral_page">
  
    <!-- code data start here -->
    <div class="code_data">
      <h2 >Your Referral Code</h2>
      <span class="caption">Refer the code to your friend and you wil get Rs. 50 off on your bill Amount</span>

      <span class="my_code">{{loggedInUserData.own_refcode}}</span>

      <ul class="share_option" style="display:none">
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/fb_share.png"></span>
            <span class="name">Facebook</span>
          </a>
        </li>
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/twitter_share.png"></span>
            <span class="name">Twitter</span>
          </a>
        </li>
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/google_share.png"></span>
            <span class="name">Google+</span>
          </a>
        </li>
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/p_share.png"></span>
            <span class="name">Pinterest</span>
          </a>
        </li>
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/wa_share.png"></span>
            <span class="name">Whatsapp</span>
          </a>
        </li>
        <li class="list">
          <a href="#0" class="link">
            <span class="icon"><img src="assets/images/icon/social/linkedin_share.png"></span>
            <span class="name">linkedin</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- code data end here -->

    <!-- referral_list start here -->
    <div class="referral_list">

      <!-- heading start here -->
      <table cellpadding="0" cellspacing="0" class="my_table">
        <tr class="row_head">
          <th class="text-left col-md-65" style="padding-left: 30px">Referral</th>
          <th class="center">Date</th>
          <th class="center">Amount <span class="amount">336.00 INR</span></th>
        </tr>

        <tr>
          <td class="text-left" style="padding-left: 30px">
            <span class="name">Pankaj</span>
            <span class="caption incoming">Referral Bonus <span class="red">Pending</span></span>
          </td>
          <td class="center">
            <span class="time">23-11-2017 <br> 16:04</span>
          </td>
          <td class="center"><span class="amount">89. INR </span></td>
        </tr>

        <tr>
          <td class="text-left" style="padding-left: 30px">
            <span class="name">FW244</span>
            <span class="caption outgoing">Amount Debit <span class="green">done</span></span>
          </td>
          <td class="center">
            <span class="time">23-11-2017 <br> 16:04</span>
          </td>
          <td class="center"><span class="amount">89. INR </span></td>
        </tr>

        <tr>
          <td style="background: #e9e7e7; color: #606060;"><span class="number">2</span> Total referral person by you</td>
          <td style="background: #e9e7e7;" colspan="2" class="center">Remain - 89. INR</td>
        </tr>

      </table>
      <!-- heading end here -->

    </div>
    <!-- referral_list end here -->
  </div>
